<!DOCTYPE html>
<html>
<head>
  <title>Ayutweet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="header">
		<div class="header-logo"><%= link_to 'ayu', 'top' %></div>
	      <div class="header-list">
	        <ul>
	          <li><%= link_to 'つぶやく', 'tweet/new' %></li>
	        </ul>
	    </div>
    </div>
<%= yield %>

</body>
</html>
